.footer {
    position: absolute;
    text-align: left;
    bottom: 0;
    padding: 1rem;
    background-color: #0d1255;
    position: absolute;
    width: 100%;
    left: 0;
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
    color:#fff;
  }
  